.dialog_modal {
    

    
    border: 2px solid red;
    height: 100dvh;
    width: 100dvw;

    /* By default, browsers apply a max-width and max-height to prevent dialogs from touching the edges of the screen. 
    They also add default padding and margins. Because of this, width: 100dvw is being overridden by the browser's max-width restriction. */
    max-width: none; 
    max-height: none;
    margin: 0;

    /* Ensures the 2px border doesn't push the size over 100vw/vh and cause scrollbars */
    box-sizing: border-box;
}